.select-configure
{
   width:40%;
   font-size:12px;
   
}

.addeditdefineflow
{
    margin-top: -13px;;
}

.marginpart
{
    margin-top: -13px;;
}

.marginpart1
{
    margin-top: -5px;;
}

.faspace 
{
    margin-top: -12px;
}

.createmodulebarSpace 
{
    margin-top: -30px;
}

.spaceExa 
{margin-top: -22px;

}

.checkboxspace 
{
    margin-top: -6px;
}
.sp 
{
    margin-top:10px;
}